.Contenedor-Clientes {
    padding: 2% !important;   
    width: 90%!important; 
    max-width: 500px !important;      
}

.lista-cliente{
    font-size: large !important;
    font-style: inherit !important;
}
button:hover{
    background-color: #000000  !important;
    border: none !important;
    transition: 0.8s ease !important;
    color: #ffffff !important;
}