.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr) !important;
    gap: 5px !important;
  
    border-radius: 8px !important;
  
    width: 100% !important;
  }
  
  .grid-container2 {
    grid-template-columns: repeat(2, 2fr) !important;
    gap: 5px !important;
    padding: 10px !important;
    border-radius: 2px !important;
    border: 1px solid #000000 !important;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100% !important;
  }
  
  .table-container {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr) !important;
    width: 100% !important;
    margin-top: 20px !important;
    border-bottom: 2px solid black !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  }
  
  .table-header,
  .table-row {
    display: contents !important;
  }
  
  .table-item {
    padding: 10px !important;
    text-align: center !important;
    width: 100% !important;
    border-bottom: none !important;
  }
  
  .table-item3 {
    padding: 10px !important;
    text-align: center !important;
    width: 50% !important;
    border-bottom: none !important;
  }
  
  .table-header .table-item {
    font-weight: bold !important;
    background-color: #f1f1f1 !important;
    border: 1px solid black !important;
    border-radius: 4px 4px 0 0 !important;
  }
  
  .table-header .table-item:last-child {
    border-right: 0.5px solid black !important;
    border-bottom: 0.5px solid black !important;
  }
  
  .table-row .table-item {
    border-left: 0.5px solid black !important;
    border-right: 0.5px solid black !important;
    transition: background-color 0.3s;
  }
  
  .table-row:hover .table-item {
    background-color: #cdcdcd !important;
  }
  
  .grid-item {
    padding: 8px !important;
  }
  
  .grid-header {
    grid-column: span 2 !important;
    font-weight: bold !important;
    padding: 10px 0 !important;
    background-color: #f7f7f7 !important;
    border: 1px solid #000000 !important;
    border-radius: 8px !important;
    text-align: center !important;
  }
  
  .label {
    font-weight: bold !important;
    color: #000000 !important;
    padding: 5px 0 !important;
  }
  
  .total-label {
    font-weight: bold !important;
    text-align: left !important;
    color: #000000 !important;
  }
  
  .total-value {
    font-weight: bold !important;
    font-size: 1.2em !important;
    color: #ff0000 !important;
    text-align: right !important;
  }
  
  .modal-header {
    display: grid !important;
    grid-template-columns: repeat(2, 2fr) !important;
    padding: 10px !important;
    font-size: 1.2em !important;
    align-items: center;
  }
  
  .modal-content {
    padding: 20px !important;
    background-color: #ffffff !important;
  }
  
  .factura-btn {
    width: 100% !important;
    padding: 10px !important;
    background-color: #008cff !important;
    color: #000000 !important;
    font-weight: bold !important;
    border: none !important;
    cursor: pointer !important;
  }
  
  .logo {
    width: 300px !important;
    height: auto !important;
  }
  
  .header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
    border: 2px solid #000000 !important;
    border-radius: 5px !important;
    background-color: #ffffff !important;
    height: 100px;
    margin: 0px 50px;
  }
  
  .boleta-info,
  .ruc-info,
  .codigo-boleta {
    margin: 5px !important;
    font-weight: bolder;
  }
  
  .boleta-info {
    font-weight: bold !important;
    font-size: 1.2em !important;
  }
  
  .ruc-info,
  .codigo-boleta {
    font-size: 1em !important;
  }
  
  .MasterCont {
    width: 100%;
    flex: auto;
    display: flex;
  
    margin-bottom: 20px;
  }
  
  .SemiMaster {
    border-radius: 8px !important;
  
    width: 100%;
    margin-top: 20px;
    margin-right: 5%;
  }
  .SemiMaster2 {
    border-radius: 8px !important;
  
    width: 100%;
    margin-top: 20px;
  }
  
  .salidas {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    border: 2px #000;
    padding: 10px;
    align-items: center;
    border: 1px solid #000;
    margin: -1px;
  }
  
  .lineadivisoria {
    font-style: inherit;
    text-align: center;
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
  }
  
  .salidasc {
    text-align: left;
    font-weight: bold;
  }
  
  .salidasc:nth-child(2) {
    text-align: center;
    font-weight: normal;
  }
  
  .salidasc:last-child {
    text-align: right;
    font-weight: normal;
  }
  
  p {
    font-size: 11px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .cabezal {
    font-size: 13px;
    font-weight: bold;
  
    margin-left: 20px;
  }
  
  .grilla {
    font-weight: lighter;
  }
  
  .descri {
    display: grid;
    grid-template-columns: repeat(2, 2fr) !important;
    gap: 5px !important;
    border-radius: 8px !important;
    width: 100% !important;
  }
  
  .ui.celled.table th {
    text-align: center;
  }
  
  .ui.celled.table {
    border: 1px solid black;
  }
  
  .ui.celled.table th,
  .ui.celled.table td {
    border: 1px solid black;
  }